<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{page.title.customer-ext}">Potential Customers - Ecom Backend System</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link th:href="@{/assets/css/icons/icomoon/styles.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/minified/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/minified/core.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/minified/components.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/minified/colors.min.css}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" th:src="@{/assets/js/plugins/loaders/pace.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/core/libraries/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/core/libraries/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/plugins/loaders/blockui.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/plugins/ui/nicescroll.min.js}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" th:src="@{/assets/js/plugins/forms/styling/uniform.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/plugins/forms/styling/switch.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/plugins/forms/styling/switchery.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/plugins/tables/datatables/extensions/col_vis.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

    <script type="text/javascript" th:src="@{/assets/js/core/app.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/nicescroll.activator.js}"></script>
    <!-- /theme JS files -->

    <script>

        $(function () {
            // Checkboxes/radios (Uniform)
            // ------------------------------

            // Default initialization
            $("input[type='checkbox']").uniform({
                radioClass: 'choice'
            });

            // File input
            $(".file-styled").uniform({
                wrapperClass: 'bg-blue',
                fileButtonHtml: '<i class="icon-file-plus"></i>'
            });

            // Bootstrap switch
            // ------------------------------

            $(".switch").bootstrapSwitch();

        });

        function checkAll(switcher) {
            if ($(switcher).parent().parent().parent().parent().is("th")) {
                $("input[name='ids']").prop("checked", switcher.checked)
                $.uniform.update("input[name='ids']");
            } else {
                return false;
            }
        }

        function sendMail() {
            if ($(".checker .checked").length == 0) {
                alert("Please select at least one item");
                return false;
            }
            $(".formParam").remove();
            var $form = $("#tableForm");
            $form.attr("action", "./mail-sender");
            $form.append($("<input type='hidden' class='formParam' name='tid' value='1'>"));
            $form.append($("<input type='hidden' class='formParam' name='group' value='external'>"));
            $("#tableForm").submit();
        }

        function restoreForm() {
            $("select").each(function (i, dom) {
                var $select = $(dom);
                var selectName = $select.attr("t_name");
                if (selectName) {
                    $select.attr("name", selectName).removeAttr("t_name");
                }
            });
            $("select").show();
            $("#tempEle").remove();
            $("input[name='contactName']").val("");
            $("input[name='companyName']").val("");
            $("select option").attr("selected", false);
            $("input[name='email']").val("");
            $("input[name='phoneNumber']").val("");
            $("input[name='address']").val("");
            $("input[name='state']").val("");
            $("input[name='country']").val("");
            $("input[name='website']").val("");
            $("input[name='facebook']").val("");
            $("input[name='instagram']").val("");
            $("input[name='twitter']").val("");
            $("textarea[name='memo']").val("");
        }

        function initUpdateRecordForm(link, $item) {
            $("#multi_func_form").attr("action", link);
            $("#multi_func_form_title").html("<i class=\"icon-user-check position-left\"></i>Update Customer");
            var tdList = $item.children("td");
            if (tdList.length != 18) {
                alert("Please show all columns before update a record");
                return false;
            }

            $("input[name='contactName']").val(tdList[1].innerHTML);
            $("input[name='companyName']").val(tdList[2].innerHTML);

            var $btSelect = $("#btSelect");
            var $btOption = $btSelect.children("option[value='" + tdList[3].innerHTML + "']");
            if ($btOption.length != 0) {
                $btSelect.val(tdList[3].innerHTML);
            } else {
                replaceToTextInput($btSelect);
                $("input[name='businessType']").val(tdList[3].innerHTML);
            }

            var $ltSelect = $("#ltSelect");
            var $ltOption = $ltSelect.children("option[value='" + tdList[4].innerHTML + "']");
            if ($ltOption.length != 0) {
                $ltSelect.val(tdList[4].innerHTML);
            } else {
                replaceToTextInput($ltSelect);
                $("input[name='licenseType']").val(tdList[4].innerHTML);
            }

            $("input[name='email']").val(tdList[5].childNodes[0].innerHTML);
            $("input[name='phoneNumber']").val(tdList[6].innerHTML);
            $("input[name='address']").val(tdList[7].innerHTML);
            $("input[name='state']").val(tdList[8].innerHTML);
            $("input[name='country']").val(tdList[9].innerHTML);
            $("input[name='website']").val(tdList[10].childNodes[0].innerHTML);
            $("input[name='facebook']").val(tdList[11].innerHTML);
            $("input[name='instagram']").val(tdList[12].innerHTML);
            $("input[name='twitter']").val(tdList[13].innerHTML);
            $("textarea[name='memo']").val(tdList[14].innerHTML);

            $("#modal_form_horizontal").modal('show');
        }

        function initAddRecordForm() {
            $("#multi_func_form").attr("action", "./customer-ext/add");
            $("#multi_func_form_title").html("<i class=\"icon-user-plus position-left\"></i>Add Customer");
        }

        function replaceToTextInput(selectEle) {
            var $selectEle = $(selectEle);
            var selectName = $selectEle.attr("name");
            $selectEle.attr("t_name", selectName).removeAttr("name");
            $selectEle.find("option:selected").removeAttr("selected");
            $selectEle.hide().after("<input id='tempEle' name='" + selectName + "' type='text' class='form-control'>");
        }
    </script>

</head>

<body class="navbar-top">

<!-- Main navbar -->
<th:block th:replace="fragments/navbar::topbar"></th:block>
<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <th:block th:replace="fragments/navbar::sidebar('Potential Customers')"></th:block>
        <!-- /main sidebar -->


        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> -
                            Potential Customers</h4>
                    </div>
                </div>

                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><a th:href="@{/admin/home}"><i class="icon-home2 position-left"></i> Home</a></li>
                        <li class="active">Potential Customers</li>
                    </ul>
                </div>
            </div>
            <!-- /page header -->


            <!-- Content area -->
            <div class="content">
                <div class="panel panel-flat">
                    <!--<div class="heading-elements">-->
                    <!--<ul class="icons-list">-->
                    <!--<li><a data-action="collapse"></a></li>-->
                    <!--<li><a data-action="close"></a></li>-->
                    <!--</ul>-->
                    <!--</div>-->
                    <div class="panel-heading">
                        <h6 class="panel-title"><i class="icon-database-arrow position-left"></i><strong>Online Customer
                            Data Info</strong></h6>
                        <div class="heading-elements">
                            <div class="heading-btn">
                                <button onclick="initAddRecordForm(); restoreForm();" type="button"
                                        class="btn btn-default dropdown-toggle" data-toggle="modal"
                                        data-target="#modal_form_horizontal">
                                    <i class="icon-plus2 position-left"></i>Add Record
                                </button>
                            </div>
                            <div class="btn-group heading-btn">
                                <button th:if="${administrator?.role?.code>=63}" type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <i class="icon-paperplane position-left"></i>Send Mail <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <li><a onclick="sendMail()">From Mail Template</a></li>
                                </ul>
                            </div>
                            <div class="heading-btn">
                                <button type="button" class="btn btn-info" onclick="location.reload()">
                                    <i class="icon-reload-alt position-left"></i>Refresh Page
                                </button>
                                <!--<button type="button" class="btn btn-warning">Delete</button>-->
                                <!--<button type="button" class="btn btn-default">Refresh Page</button>-->
                            </div>
                        </div>
                    </div>
                    <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper no-footer">
                        <!--<div class="datatable-scroll table-responsive">-->
                        <div>
                            <form id="tableForm" method="post">
                                <table class="table table-xs table-hover table-striped dataTable no-footer" role="grid">
                                    <thead>
                                    <tr role="row">
                                        <th tabindex="0" rowspan="1" colspan="1">
                                            <label>
                                                <input type="checkbox" class="styled checkAllButton"
                                                       onchange="checkAll(this)">
                                            </label>
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Contact Name
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Company Name
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Business Type
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">License Type
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Email
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Phone
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Address
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">State
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Country
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Website
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Facebook
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Instagram
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Twitter
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Memo
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Update
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Status
                                        </th>
                                        <th class="text-center" rowspan="1" colspan="1"
                                            aria-label="Actions" style="width: 100px;">Actions
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr role="row" th:each="item:${page}">
                                        <td>
                                            <label>
                                                <input name="ids" th:value="${item.getId()}" type="checkbox"
                                                       class="styled">
                                            </label>
                                        </td>
                                        <td th:text="${item.getContactName()}"></td>
                                        <td th:text="${item.getCompanyName()}"></td>
                                        <td th:text="${item.getBusinessType()}"></td>
                                        <td th:text="${item.getLicenseType()}"></td>
                                        <td><a th:text="${item.getEmail()}" th:href="'mailto:'+${item.getEmail()}"></a>
                                        </td>
                                        <td th:text="${item.getPhoneNumber()}"></td>
                                        <td th:text="${item.getAddress()}"></td>
                                        <td th:text="${item.getState()}"></td>
                                        <td th:text="${item.getCountry()}"></td>
                                        <td><a target="_blank" th:text="${item.getWebsite()}"
                                               th:href="${item.getWebsite()}"></a></td>
                                        <td th:text="${item.getFacebook()}"></td>
                                        <td th:text="${item.getInstagram()}"></td>
                                        <td th:text="${item.getTwitter()}"></td>
                                        <td th:text="${item.getMemo()}"></td>
                                        <td th:text="${#temporals.format(item.getUpdateTime(), 'MM/dd HH:mm:ss')}"></td>
                                        <td th:if="${item.isUnsubscribe()}"><span class="label label-warning">Unsubscribed</span>
                                        </td>
                                        <td th:if="${!item.isUnsubscribe()}"><span
                                                class="label label-success">Listening</span></td>
                                        <td class="text-center">
                                            <ul th:if="${administrator?.role?.code>=63}" class="icons-list">
                                                <li class="dropdown">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                                                       aria-expanded="false">
                                                        <i class="icon-menu9"></i>
                                                    </a>

                                                    <ul class="dropdown-menu dropdown-menu-right">
                                                        <li>
                                                            <a th:onclick="'restoreForm(); initUpdateRecordForm(\'./customer-ext/update/'+${item.getId()}+'\',$(this).parent().parent().parent().parent().parent().parent());'"><i
                                                                    class="icon-arrow-up16"></i> Update</a>
                                                        </li>
                                                        <li>
                                                            <a onclick="return confirm('Are you sure to delete this item?')"
                                                               th:href="'./customer-ext/delete/'+${item.getId()}"><i
                                                                    class="icon-bin"></i> Remove</a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>


                <!-- Footer -->
                <!--<div class="footer text-muted">-->
                <!--© 2018. <a href="#">Codeager IO</a>, theme by <a-->
                <!--href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>-->
                <!--</div>-->
                <!-- /footer -->

            </div>
            <!-- /content area -->

            <!-- Horizontal form modal -->
            <div id="modal_form_horizontal" class="modal fade">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 id="multi_func_form_title" class="modal-title"><i
                                    class="icon-user-plus position-left"></i>Add Customer</h4>
                        </div>

                        <form id="multi_func_form" method="post" class="form-horizontal">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Contact Name</label>
                                    <div class="col-sm-9">
                                        <input name="contactName" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Company Name</label>
                                    <div class="col-sm-9">
                                        <input name="companyName" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Type of Business</label>
                                    <div class="col-sm-9">
                                        <select id="btSelect" name="businessType" class="form-control"
                                                onchange="if (this[selectedIndex].innerHTML == 'Other') {replaceToTextInput(this)}">
                                            <option value=""></option>
                                            <option value="Accounting/Insurance/Legal">Accounting/Insurance/Legal
                                            </option>
                                            <option value="Banking">Banking</option>
                                            <option value="Software">Software</option>
                                            <option value="Consultant">Consultant</option>
                                            <option value="Contractor">Contractor</option>
                                            <option value="Cultivation Tech">Cultivation Tech</option>
                                            <option value="Cultivation Facility">Cultivation Facility</option>
                                            <option value="Cultivation products">Cultivation products</option>
                                            <option value="Information">Information</option>
                                            <option value="Distributor">Distributor</option>
                                            <option value="Infused products">Infused products</option>
                                            <option value="Lab">Lab</option>
                                            <option value="Investors">Investors</option>
                                            <option value="Processing Equipment">Processing Equipment</option>
                                            <option value="Real Estate">Real Estate</option>
                                            <option value="Retail">Retail</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Type of License</label>
                                    <div class="col-sm-9">
                                        <select id="ltSelect" name="licenseType" class="form-control"
                                                onchange="if (this[selectedIndex].innerHTML == 'Other') {replaceToTextInput(this)}">
                                            <option value=""></option>
                                            <option value="Medical">Medical</option>
                                            <option value="Rec">Rec</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Email</label>
                                    <div class="col-sm-9">
                                        <input name="email" type="email" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Phone</label>
                                    <div class="col-sm-9">
                                        <input name="phoneNumber" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Address</label>
                                    <div class="col-sm-9">
                                        <input name="address" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">State</label>
                                    <div class="col-sm-9">
                                        <input name="state" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Country</label>
                                    <div class="col-sm-9">
                                        <input name="country" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Website</label>
                                    <div class="col-sm-9">
                                        <input name="website" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Facebook</label>
                                    <div class="col-sm-9">
                                        <input name="facebook" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Instagram</label>
                                    <div class="col-sm-9">
                                        <input name="instagram" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Twitter</label>
                                    <div class="col-sm-9">
                                        <input name="twitter" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Memo</label>
                                    <div class="col-sm-9">
                                        <textarea name="memo" rows="3" style="resize:vertical"
                                                  class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" id="modalCloseBtn" class="btn btn-link" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary">Submit form</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /horizontal form modal -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->
<script>
    // Setting datatable defaults
    $.extend($.fn.dataTable.defaults, {
        autoWidth: false,
        columnDefs: [
            {
                orderable: false,
                targets: [0, 17]
            }
        ],
        dom: '<"datatable-header"fCl><"datatable-scroll-wrap"t><"datatable-footer"ip>',
        language: {
            search: '<span>Filter:</span> _INPUT_',
            lengthMenu: '<span>Show:</span> _MENU_',
            paginate: {'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;'}
        },
        drawCallback: function () {
            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            $.uniform.update();

            $("input[type='checkbox']").uniform({
                radioClass: 'choice'
            });
        },
        preDrawCallback: function () {
            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
        }
    });

    $('.dataTable').DataTable({
        order: [15, "desc"],
        stateSave: true,
        colVis: {
            buttonText: "<i class='icon-three-bars'></i> <span class='caret'></span>",
            align: "right",
            overlayFade: 200,
            showAll: "Show all",
            showNone: "Hide all"
        }
    });

    // Launch Uniform styling for checkboxes
    $('.ColVis_Button').addClass('btn btn-primary btn-icon').on('click mouseover', function () {
        $('.ColVis_collection input').uniform();
    });

    // Enable Select2 select for the length option
    $('.dataTables_length select').select2({
        minimumResultsForSearch: "-1"
    });
</script>

</body>
</html>