<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>[[${message}]] - Ecom Admin System</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link th:href="@{/assets/css/icons/icomoon/styles.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/assets/css/minified/bootstrap.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/assets/css/minified/core.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/assets/css/minified/components.min.css}" rel="stylesheet" type="text/css">
	<link th:href="@{/assets/css/minified/colors.min.css}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script type="text/javascript" th:src="@{/assets/js/plugins/loaders/pace.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/core/libraries/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/core/libraries/bootstrap.min.js}"></script>
	<script type="text/javascript" th:src="@{/assets/js/plugins/loaders/blockui.min.js}"></script>
	<!-- /core JS files -->


	<!-- Theme JS files -->
	<script type="text/javascript" th:src="@{/assets/js/core/app.js}"></script>
	<!-- /theme JS files -->

	<script type="text/javascript" th:inline="javascript">
        console.warn([[${error}]]);
	</script>
</head>

<body>

	<!-- Main navbar -->
	<div class="navbar navbar-inverse">
		<div class="navbar-header">
			<a class="navbar-brand" th:href="@{/admin/home}"><img th:src="@{/assets/images/logo_light.png}" alt=""></a>

			<ul class="nav navbar-nav pull-right visible-xs-block">
				<li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
			</ul>
		</div>

		<div class="navbar-collapse collapse" id="navbar-mobile">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a onclick="history.go(-1)">
						<i class="icon-arrow-left8"></i> <span
							class="visible-xs-inline-block position-right"> Go Back</span>
					</a>
				</li>
				<li>
					<a th:href="@{/admin/home}">
						<i class="icon-home2"></i> <span
							class="visible-xs-inline-block position-right"> Go Home</span>
					</a>
				</li>
			</ul>
		</div>
	</div>
	<!-- /main navbar -->


	<!-- Page container -->
	<div class="page-container login-container">

		<!-- Page content -->
		<div class="page-content">

			<!-- Main content -->
			<div class="content-wrapper">

				<!-- Content area -->
				<div class="content">

					<!-- Error wrapper -->
					<div class="container-fluid text-center">
						<h1 class="error-title" th:text="${status}">404</h1>
						<h6 class="text-semibold content-group" th:text="${message}">Oops, an error has occurred.</h6>
					</div>
					<!-- /error wrapper -->

					<!-- Footer -->
					<!--<div class="footer text-muted">-->
						<!--© 2018. <a href="#">Codeager IO</a>, theme by <a-->
							<!--href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>-->
					<!--</div>-->
					<!-- /footer -->

				</div>
				<!-- /content area -->

			</div>
			<!-- /main content -->

		</div>
		<!-- /page content -->

	</div>
	<!-- /page container -->
</body>
</html>
