<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title th:text="#{page.title.products}">Product Management - Ecom Backend System</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet"
          type="text/css">
    <link th:href="@{/assets/css/icons/icomoon/styles.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/minified/bootstrap.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/minified/core.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/minified/components.min.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/assets/css/minified/colors.min.css}" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->

    <!-- Core JS files -->
    <script type="text/javascript" th:src="@{/assets/js/plugins/loaders/pace.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/core/libraries/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/core/libraries/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/plugins/loaders/blockui.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/plugins/ui/nicescroll.min.js}"></script>
    <!-- /core JS files -->

    <!-- Theme JS files -->
    <script type="text/javascript" th:src="@{/assets/js/plugins/forms/styling/uniform.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/plugins/forms/styling/switch.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/plugins/forms/styling/switchery.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/plugins/tables/datatables/datatables.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/plugins/tables/datatables/extensions/col_vis.min.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/plugins/forms/selects/select2.min.js}"></script>

    <script type="text/javascript" th:src="@{/assets/js/core/app.js}"></script>
    <script type="text/javascript" th:src="@{/assets/js/nicescroll.activator.js}"></script>
    <!-- /theme JS files -->

    <script>

        $(function () {

            // Default initialization
            $("input[type='checkbox']").uniform({
                radioClass: 'choice'
            });

            // File input
            $(".file-styled").uniform({
                wrapperClass: 'bg-blue',
                fileButtonHtml: '<i class="icon-file-plus"></i>'
            });

            // Bootstrap switch
            // ------------------------------
            $(".switch").bootstrapSwitch();

        });

        function checkAll(switcher) {
            if ($(switcher).parent().parent().parent().parent().is("th")) {
                $("input[name='ids']").prop("checked", switcher.checked)
                $.uniform.update("input[name='ids']");
            } else {
                return false;
            }
        }
    </script>

</head>

<body class="navbar-top">

<!-- Main navbar -->
<th:block th:replace="fragments/navbar::topbar"></th:block>
<!-- /main navbar -->


<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main sidebar -->
        <th:block th:replace="fragments/navbar::sidebar('Products')"></th:block>
        <!-- /main sidebar -->


        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Page header -->
            <div class="page-header">
                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-arrow-left52 position-left"></i> <span class="text-semibold">Home</span> -
                            Products</h4>
                    </div>
                </div>

                <div class="breadcrumb-line">
                    <ul class="breadcrumb">
                        <li><a th:href="@{/admin/home}"><i class="icon-home2 position-left"></i> Home</a></li>
                        <li class="active">Products</li>
                    </ul>
                </div>
            </div>
            <!-- /page header -->


            <!-- Content area -->
            <div class="content">
                <div class="panel panel-flat">
                    <div class="panel-heading">
                        <h6 class="panel-title"><i class="icon-database-check position-left"></i><strong>Product Basic Info</strong></h6>
                        <div class="heading-elements">
                            <div class="heading-btn">
                                <button type="button"
                                        class="btn btn-default dropdown-toggle" data-toggle="modal"
                                        data-target="#modal_form_horizontal">
                                    <i class="icon-plus2 position-left"></i>Add Record
                                </button>
                            </div>
                            <div class="heading-btn">
                                <button type="button" class="btn btn-info" onclick="location.reload()">
                                    <i class="icon-reload-alt position-left"></i>Refresh Page
                                </button>
                            </div>
                        </div>
                    </div>
                    <div id="DataTables_Table_2_wrapper" class="dataTables_wrapper no-footer">
                        <div>
                            <form id="tableForm" method="post">
                                <table class="table table-xs table-hover table-striped dataTable no-footer" role="grid">
                                    <thead>
                                    <tr role="row">
                                        <th tabindex="0" rowspan="1" colspan="1">
                                            <label>
                                                <input type="checkbox" class="styled checkAllButton"
                                                       onchange="checkAll(this)">
                                            </label>
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">SPU#
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Product Name
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Overview
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Sort Index
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Note
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Create
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Update
                                        </th>
                                        <th tabindex="0" rowspan="1" colspan="1">Status
                                        </th>
                                        <th class="text-center" rowspan="1" colspan="1"
                                            aria-label="Actions" style="width: 100px;">Actions
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr role="row" th:each="item:${page}">
                                        <td>
                                            <label>
                                                <input name="ids" th:value="${item.getId()}" type="checkbox"
                                                       class="styled">
                                            </label>
                                        </td>
                                        <td th:text="${item.getId()}"></td>
                                        <td th:text="${item.getProductName()}"></td>
                                        <td th:text="${item.getOverview()}"></td>
                                        <td th:text="${item.getSortIndex()}"></td>
                                        <td th:text="${item.getAdminNote()}"></td>
                                        <td th:text="${#temporals.format(item.getCreateTime(), 'MM/dd HH:mm:ss')}"></td>
                                        <td th:text="${#temporals.format(item.getUpdateTime(), 'MM/dd HH:mm:ss')}"></td>
                                        <td th:if="${!item.isDeleted()}"><span class="label label-success">Online</span></td>
                                        <td th:if="${item.isDeleted()}"><span class="label label-default">Offline</span></td>
                                        <!--<td class="text-center">-->
                                            <!--<ul class="icons-list">-->
                                                <!--<li class="dropdown">-->
                                                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown"-->
                                                       <!--aria-expanded="false">-->
                                                        <!--<i class="icon-menu9"></i>-->
                                                    <!--</a>-->

                                                    <!--<ul class="dropdown-menu dropdown-menu-right">-->
                                                        <!--<li>-->
                                                            <!--<a th:onclick="'restoreForm(); initUpdateRecordForm(\'./customer-ext/update/'+${item.getId()}+'\',$(this).parent().parent().parent().parent().parent().parent());'"><i-->
                                                                    <!--class="icon-arrow-up16"></i> Update</a>-->
                                                        <!--</li>-->
                                                        <!--<li>-->
                                                            <!--<a onclick="return confirm('Are you sure to deleteById this item?')"-->
                                                               <!--th:href="'./customer-ext/deleteById/'+${item.getId()}"><i-->
                                                                    <!--class="icon-bin"></i> Remove</a>-->
                                                        <!--</li>-->
                                                    <!--</ul>-->
                                                <!--</li>-->
                                            <!--</ul>-->
                                        <!--</td>-->
                                        <td class="text-center">
                                            <a title="Edit" class="btn btn-success bg-slate btn-xs" th:href="'./product/'+${item.getId()}"><i class="icon-pencil7"></i></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>
                        </div>
                    </div>
                </div>


                <!-- Footer -->
                <!--<div class="footer text-muted">-->
                <!--© 2018. <a href="#">Codeager IO</a>, theme by <a-->
                <!--href="http://themeforest.net/user/Kopyov" target="_blank">Eugene Kopyov</a>-->
                <!--</div>-->
                <!-- /footer -->

            </div>
            <!-- /content area -->

            <!-- Horizontal form modal -->
            <div id="modal_form_horizontal" class="modal fade">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 id="multi_func_form_title" class="modal-title"><i
                                    class="icon-file-plus2 position-left"></i>Add Product</h4>
                        </div>

                        <form id="multi_func_form" action="./product/add" method="post" class="form-horizontal">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label class="control-label col-sm-3">Product Category *</label>
                                    <div class="col-sm-9">
                                        <select id="ltSelect" name="categoryId" class="form-control">
                                            <option value="0">-</option>
                                            <option th:each="category:${categories}" th:value="${category.getId()}" th:text="${category.getPath()}"></option>
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Product Name *</label>
                                    <div class="col-sm-9">
                                        <input name="productName" placeholder="Name of the product." type="text" class="form-control" required>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-sm-3">Overview</label>
                                    <div class="col-sm-9">
                                        <textarea name="overview" placeholder="A brief description of product, will show in product lists." rows="5" style="resize:vertical"
                                                  class="form-control"></textarea>
                                        <span class="help-block">No more than 65535 characters</span>
                                    </div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" id="modalCloseBtn" class="btn btn-link" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-success">Next</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /horizontal form modal -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->
<script>
    // Setting datatable defaults
    $.extend($.fn.dataTable.defaults, {
        autoWidth: false,
        columnDefs: [
            {
                orderable: false,
                targets: [0, 3, 5, 9]
            }
        ],
        dom: '<"datatable-header"fCl><"datatable-scroll-wrap"t><"datatable-footer"ip>',
        language: {
            search: '<span>Filter:</span> _INPUT_',
            lengthMenu: '<span>Show:</span> _MENU_',
            paginate: {'first': 'First', 'last': 'Last', 'next': '&rarr;', 'previous': '&larr;'}
        },
        drawCallback: function () {
            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').addClass('dropup');
            $.uniform.update();

            $("input[type='checkbox']").uniform({
                radioClass: 'choice'
            });
        },
        preDrawCallback: function () {
            $(this).find('tbody tr').slice(-3).find('.dropdown, .btn-group').removeClass('dropup');
        }
    });

    $('.dataTable').DataTable({
        order: [4, "asc"],
        stateSave: true,
        colVis: {
            buttonText: "<i class='icon-three-bars'></i> <span class='caret'></span>",
            align: "right",
            overlayFade: 200,
            showAll: "Show all",
            showNone: "Hide all"
        }
    });

    // Launch Uniform styling for checkboxes
    $('.ColVis_Button').addClass('btn btn-primary btn-icon').on('click mouseover', function () {
        $('.ColVis_collection input').uniform();
    });

    // Enable Select2 select for the length option
    $('.dataTables_length select').select2({
        minimumResultsForSearch: "-1"
    });
</script>

</body>
</html>