<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:with="lang=${#locale.language}" th:lang="${lang}">
<head>
    <meta charset="UTF-8">
    <title>Get a Quote Demo</title>
    <script th:src="@{/captcha/include.js}"></script>
</head>
<body>
<form th:action="@{/api/v1/quote}" method="post">
    <table>
        <tr>
            <td>First Name*</td>
            <td><input name="firstName" type="text" required><br/></td>
        </tr>
        <tr>
            <td>Last Name*</td>
            <td><input name="lastName" type="text" required></td>
        </tr>
        <tr>
            <td>Company Name</td>
            <td><input name="companyName" type="text"></td>
        </tr>
        <tr>
            <td>Company Address Line 1</td>
            <td><input name="companyAddressLineOne" type="text"></td>
        </tr>
        <tr>
            <td>Company Address City*</td>
            <td><input name="companyAddressCity" type="text" required></td>
        </tr>
        <tr>
            <td>Company Address State*</td>
            <td><input name="companyAddressState" type="text" required></td>
        </tr>
        <tr>
            <td>Company Address Zip Code*</td>
            <td><input name="companyAddressZipCode" type="text" required></td>
        </tr>
        <tr>
            <td>Email*</td>
            <td><input name="email" type="text" required></td>
        </tr>
        <tr>
            <td>Phone Number</td>
            <td><input name="phoneNumber" type="text"></td>
        </tr>
        <tr>
            <td>About Product</td>
            <td><input name="aboutProduct" type="text"></td>
        </tr>
        <tr>
            <td>Description of the brands and styles that you currently use or plan to use</td>
            <td><input name="description" type="text"></td>
        </tr>
        <tr>
            <td>Estimate quantity</td>
            <td><input name="estimateQuantity" type="number" min="1"></td>
        </tr>
        <tr>
            <td>Captcha*</td>
            <td><input name="captcha" type="text" required></td>
        </tr>
    </table>
    <div th:utext="${captchaHtml}"></div>
    <input type="hidden" name="preferCallOrText" value="false">
    <input type="submit">
</form>
</body>
</html>