<?xml version="1.0" encoding="UTF-8"?>

<configuration debug="false">

    <property name="LOG_HOME" value="${catalina.base}/logs"/>
    <property name="MAX_HISTORY" value="30"/>
    <property name="MAX_SINGLE_FILE_SIZE" value="20MB"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %white(%d{yyyy-MM-dd HH:mm:ss.SSS}) %boldWhite(%-30.30logger{0}) %highlight(%-5level) %yellow(%msg) %n
            </pattern>
        </layout>
    </appender>

    <appender name="FILE_ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-10.10r [%thread] %-5level %logger{5} - %msg%n</pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/application_error.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${MAX_SINGLE_FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>

            <MaxHistory>${MAX_HISTORY}</MaxHistory>
        </rollingPolicy>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-10.10r [%thread] %-5level %logger - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/application.%d{yyyy-MM-dd}.%i.log</fileNamePattern>

            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${MAX_SINGLE_FILE_SIZE}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>

            <MaxHistory>${MAX_HISTORY}</MaxHistory>
        </rollingPolicy>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
        <appender-ref ref="FILE_ERROR"/>
    </root>

</configuration>